.footer { position: fixed; bottom: 0; width: 100%; height: 60px; line-height: 60px; background-color: #f5f5f5; }

#mainDiv{
  padding:0px!important;
}

#userBalances{
  font-size:1.3em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  #transferETH,#transferERC20,#transferNFTs, #transactionsSection, #balancesSection, #nftSection, #web3apiTokenSection, #portfolioTracker, #buyCrypto, #swapTokens, #webhooks{
    display:none;
  }

  a{
    cursor: pointer;
  }
  .card.col-md-4.nfts {
    cursor: pointer;
}

.card.col-md-4.nfts:hover {
  transition: 1s;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px!important;
  transition: all 0.1s ease 0s;
  transform: translateY(-2px);
}

.the-buttons {
  display: flex;
  justify-content: space-evenly;
}

.card h5{
  font-size:14px;
}
.card h6{
  font-size:13px;
}
.card p{
  font-size:11px;
}

#fiat-iframe{
  display: none;
}

/* START OF RESPONSIVE TABLES */
/* https://codepen.io/AllThingsSmitty/pen/MyqmdM */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .15em;
}

table th,
table td {
  padding: .125em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {

    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

p.separator{
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #979797;
  line-height: 0.1em;
  margin: 10px 0 10px;
}
p.separator span{
  background: #f5f5f5;
  padding: 0 7.5px;
}

#the-eye {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5%;
  top: 35%;
  position: absolute;
  cursor: pointer;
}


/* END OF RESPONSIVE TABLES */

/* MOBILE RESPONSIVENESS */

@media screen and (max-width: 600px) {
.the-buttons {
  display: block;
}
.nav-user-details span{
  font-size:0.8em;
  padding:5px;
}
}

